body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background-color: #f3f7ff;
  color: #222;
}

header {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

header .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: #2563eb;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #3b82f6;
}



.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 50, 0.5);
}

.hero-content {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}




.about {
  text-align: center;
  padding: 40px 20px;
  background: white;
}

.about h2 {
  color: #1e3a8a;
}

.about p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.8;
}

.visi-misi {
  background: #1e3a8a;
  padding: 40px 20px;
}

.visi-misi .content {
  max-width: 800px;
  margin: auto;
}

.visi-misi h2 {
  text-align: center;
  color: #dce0ec;
}

.visi-misi h3 {
  color: #1d4ed8;
}

.visi-misi ul {
  padding-left: 20px;
  line-height: 1.7;
}

.wali {
  text-align: center;
  padding: 40px 20px;
  background: rgb(255, 255, 255);
}

.wali-card {
  display: inline-block;
  background: #f8fafc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.wali-card:hover {
  transform: scale(1.05);
}

.wali-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.anggota {
  background: #eef2ff;
  padding: 50px 20px;
  text-align: center;
}

.anggota h2 {
  color: #1e3a8a;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  color: #1e3a8a;
  margin-bottom: 5px;
}


footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 15px;
}