body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f3f7ff;
  margin: 0;
  color: #222;
}

header {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 20px 10px;
}
header .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: #2563eb;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #3b82f6;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #1e3a8a;
}
h1 {
 text-align: center;
  margin: 0;
}
p {
    text-align: center;
  margin: 5px 0 0;
  font-size: 16px;
}

main {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.galeri-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.foto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.foto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #2563eb;
}



footer {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
